@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Myeal</h1>
    <p>This is my personal project turned tech demo that I use to play with web development tools and technologies!</p>
    <p>I'm updating this frequently with features and functions that resolve around food and at some point I hope this will grow to a be a pretty useful tool for anyone who finds it.</p>
    <p>Right now I have a recipe database set up, why don't you try a search! You might find some cooking inspiration.</p>
    <p>Developer Note: 7/6: Recovering the search formatting after a code swap, I'll be making it pretty again tomorrow.
