@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This application is a technical demo and not for any kind of monetization. 
    All credentials or Google authentication information is handled with Auth0, a third party provider and is used solely for this app.
    Cookies may be required to support certain features of this application.
</p>
<p>
    If you have any questions about this application or it's use, feel free to contact me at <a href = "mailto: lanemiguel1337@gmail.com">lanemiguel1337@gmail.com</a>.
</p>
